/** Universal Section **/
html{
  font-size: 16px
}

body{
  font-family: 'Rubik', sans-serif;
}

main{
  padding-top: 4rem;
}

p{
  line-height: 1.4;
}

a{
  transition: color 500ms
}

a:hover {
  color: #FF2800
}

/** Header Section **/
header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #FFF;
  box-shadow: 1px 1px rgba(0, 0, 0, .5)
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.mobile {
  display: none;
}

nav{
  padding-right: 1.5rem;
}

nav ul{
  display: flex;
}

nav li {
  padding-left: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  font-weight: bold;
  color: #3C976B;
  font-family: 'Yatra One', cursive;
  font-size: 1.2rem;
  height: 2rem;
}

.logo span{
  color: #66111D;
  font-family: 'Slabo 27px', serif;
  font-weight: normal;
  opacity: .5;
}

/** Header Section-mobile **/
@media only screen and (max-width: 820px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    padding: 0 2rem;
  }
}

/** Banner Section **/
.banner {
  display: flex;
  background-color: #90D2B2;
}

.banner-img{
  width: 60%;
  padding: 2rem 1.5rem;
}

.banner img {
  width: 100%;
  height: 100%
}

.intro{
  display: flex;
  align-items: center;
  max-width: 30%;
}

 h1{
  font-family: 'Lora', serif;
  font-size: 3rem;
  font-weight: bolder;
}

.content p{
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.3;
}

.content h1, .content p {
  padding-bottom: 1.5rem;
}

.button {
  text-align: center;
  color: #FFF;
  background-color: #66111D;
  padding: .5rem 0;
  border-radius: .5rem;
  transition: background-color 500ms;
}

.button:hover{
  background-color: #CE7C87;
  box-shadow: 1px 1px 10px 0px #000;
}

/** Banner Section-mobile **/
@media only screen and (max-width: 820px) {
  .banner {
    display: flex;
    flex-direction: column;
  }

  .banner-img {
    padding: 0;
    width: 100%;
  }

  .intro {
    display: block;
    padding: 2rem 1rem;
    max-width: 100%;
  }

  .button {
    background-color: #CE7C87;
    box-shadow: 1px 1px 10px 0px #000;
  }
}

/** Info Section **/
.article {
  display: flex;
  padding: 2rem 0;
}

.study {
  width: 60%;
  padding: 0 1.5rem;
}

.study img {
  width: 100%;
}

.study h1 {
  font-size: 2rem;
  padding:2rem 0 1.5rem 0;
}

.study p{
  padding-bottom: 2rem;
}

.study p:first-of-type {
  opacity: 0.5;
}

.info {
  max-width: 36%;
}

.contents {
  display: flex;
  align-items: center;
  transition: background-color 500ms;
}

.contents:hover {
  background-color: #BDC4AF;
}

.img-container{
  margin: 1rem 1rem;
  width: 35%;
  height: auto;
}

.img-container img{
  width: 100%;
}

.info-main p {
  padding: .5rem 0;
}

h2 {
  font-weight: bold;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

.img-container-mobile {
  display: none;
}

/** Info Section-mobile **/
@media only screen and (max-width: 820px) {
  .article {
    padding: 1rem 1rem 2rem 1rem;
    background-color: #BDC4AF;
  }

  .study {
    display: none;
  }

  .info {
    max-width: 100%;
  }

  .contents {
    flex-direction: column;
    align-items: flex-start;
  }

  .contents:nth-child(1n + 2) {
    padding-top: 4rem;
  }

  .img-container-mobile {
    display: block;
  }

  .img-container-mobile img {
    width: 100%;
  }
}

/** Subjects Section **/
.subjects {
  background-color: #90D2B2;
}

.subjects h1 {
  text-align: center;
  padding: 2rem 0 1rem;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 4.5rem;
  padding: 1rem 0 2rem;
  justify-content: center;
}

.item {
  margin: 1rem;
  max-width: 30%;
  background-color: #FFF;
  transition: all 500ms;
}

.item:hover {
  background-color: #051C38;
  box-shadow: 1px 1px 8px 3px #000;
}

.item img {
  width: 100%;
  height: auto;
}

.description {
  padding: 0 1rem;
  transition: color 500ms;
}

.description:hover {
  color: #00FF56
}

.description h2{
  padding-top: 1rem;
}

.description h4 {
  padding: .5rem 0;
}

.description p {
  font-size: 1.1rem;
  padding-bottom: 1.5rem;
}

/** Subjects Section-mobile **/
@media only screen and (max-width: 820px) {
  .items {
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0 1rem;
    padding: 1rem 0 1.5rem 0;
  }

  .item {
    max-width: 100%;
    margin: 0;
    margin-bottom: .5rem;
  }

  .item img {
    display: none;
  }

  .title {
    color: #00FF56;
    background-color: #051C38;
  }

  .title h2{
    padding-bottom: 1.5rem;
  }
}

/** Thesis Section **/
.thesis h1 {
  text-align: center;
  padding: 2rem 0;
}

.exhibit {
  display: flex;
  padding-bottom: 2rem;
}

.vid {
  max-width: 60%;
  margin: 0 1.5rem;
}

.vid h2 {
  padding-top: 1.5rem;
}

.vid p{
  padding-top: .5rem;
  opacity: 0.5;
}

.mob-vid {
  display: none;
}

video {
  width: 100%;
}

.info-main {
  width: 60%;
}

/** Thesis Section-mobile **/
@media only screen and (max-width: 820px) {
  .thesis h1 {
    padding: 2rem 0 1rem 0;
  }

  .mob-vid {
    display: block;
  }

  .vid {
    max-width: 100%;
    margin: 0;
  }
  .exhibit {
    padding-bottom: 1.5rem;
  }
}

/** Footer Section **/
footer {
 display: flex;
 justify-content: space-between;
 padding: 1rem 1.5rem 2rem;
 background-color: #90D2B2;
 border-top: 1px solid #D3D3D3;
}

footer p, .links {
  opacity: .5;
}

.links a{
  padding-left: .5rem;
}

/** Footer Section-mobile **/
@media only screen and (max-width: 820px) {
  footer {
    padding: 1rem 1rem;
  }
  .links {
    display: none;
  }
}
